@use '../utils/mixins';

.about_content {

  @include mixins.forLargeScreen {
    @include mixins.flexColumn;
    justify-content: flex-start;
    min-height: 30vh;
    width: 100%;
    flex: 45%;
  }
}