@use '../utils/mixins';
@use '../utils/variables';

.title {
  font-family: 'Playfair', serif;
}

.title_intro {
  @include mixins.forLargeScreen {
    font-size: variables.$font-57;
  }
}  

.title_growth {
  @include mixins.forLargeScreen {
    font-size: variables.$font-57;
  }
}

@include mixins.forLargeScreen {
  .title_about--right {
    text-align: right;
  }
}

