@font-face {
  font-family: 'Playfair';
  src: url('../../assets/fonts/PlayfairDisplay/PlayfairRegular.ttf');
  weight: 400;
}
@font-face {
  font-family: 'Playfair';
  src: local('../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
  weight: 700;
}

@font-face {
  font-family: 'Cardo';
  src: url('../../assets/fonts/Cardo/Cardo-Regular.ttf');
  weight: 400;
}
@font-face {
  font-family: 'Cardo';
  src: url('../../assets/fonts/Cardo/Cardo-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Cardo';
  src: url('../../assets/fonts/Cardo/Cardo-Bold.ttf');
  weight: 700;
}