@mixin forLargeScreen {
  @media (min-width: 768px) {
    @content
  }
};

@mixin forMediumScreen {
  @media (min-width: 540px) {
    @content
  }
};

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
};