@use '../utils/mixins';

.intro_wrapper {
  background: url('../../assets/images/section-intro-bg.webp') 50% 50% no-repeat;
  background-size: cover;
  position: relative;

  @include mixins.forLargeScreen {
    background-attachment: fixed;
  }

  .intro_container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 70px 28px;
    min-height: 100vh;
    position: relative;
    z-index: 1;

    @include mixins.forLargeScreen {
      padding: 60px 45px;
    }

    .intro {
      @include mixins.flexColumn;
      justify-content: center;
      
      @include mixins.forLargeScreen {
        @include mixins.flexCenter;
        flex-direction: column;
      }
    }
  }
}