@use '../utils/mixins';
@use '../utils/variables';

.plans_wrapper {
  min-height: 100vh;
  background-color: variables.$beige;

  .plans_container {
    @include mixins.flexCenter;
    flex-direction: column;
    min-height: 100vh;
    max-width: 540px;
    margin: 0 auto;

    @include mixins.forLargeScreen {
      max-width: variables.$large;
    }

    .plans_content_wrapper {
      @include mixins.forLargeScreen {
        display: flex;
        gap: 30px;
      }
      .plans_content {
        @include mixins.forLargeScreen {
          flex: 25%;
        }
      }
    }
  }
}