@use '../utils/mixins';

.section_about_wrapper {
  background: url('../../assets/images/about-background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 40px;

  @include mixins.forLargeScreen {
    background-attachment: fixed;
  }

  .section_about_container {
    max-width: 540px;
    margin: 0 auto;

    @include mixins.forLargeScreen {
      max-width: variables.$large;
    }

    .section_about {
      @include mixins.forLargeScreen {
        @include mixins.flexCenter;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 50px;
        min-height: calc(100vh - 80px);
      }
    }
  }

}