@use '../utils/variables';
@use '../utils/mixins';

.works_wrapper {
  background-color: variables.$beige;

  .works_container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 28px;
    // background: red;

    @include mixins.forLargeScreen {
      max-width: variables.$large;
      padding: 80px;
    }

  }
}