@use '../utils/variables';
@use '../utils/mixins';

.works_wrapper {
  display: flex;
  background-color: variables.$beige;
  min-height: 100vh;

  .works_container {
    @include mixins.flexColumn;
    justify-content: center;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 28px;
    // background: red;

    @include mixins.forLargeScreen {
      max-width: variables.$large;
      padding: 80px;
    }

  }
}