@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Playfair";
  src: url("../../assets/fonts/PlayfairDisplay/PlayfairRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Playfair";
  src: local("../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Cardo";
  src: url("../../assets/fonts/Cardo/Cardo-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cardo";
  src: url("../../assets/fonts/Cardo/Cardo-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Cardo";
  src: url("../../assets/fonts/Cardo/Cardo-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../../assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../../assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf");
  font-weight: 400;
}
.relative {
  position: relative;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pad-40 {
  padding: 40px;
}

.pad-80 {
  padding: 80px;
}

.line23 {
  line-height: 23px;
}

.line26 {
  line-height: 26px;
}

.line30 {
  line-height: 30px;
}

.line36 {
  line-height: 36px;
}

@media (min-width: 768px) {
  .line36-d {
    line-height: 36px;
  }
}

.line38 {
  line-height: 38px;
}

.line43 {
  line-height: 43px;
}

@media (min-width: 768px) {
  .line43-d {
    line-height: 43px;
  }
}

.ls4 {
  letter-spacing: 0.4px;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .text-center-d {
    text-align: center;
  }
}

.text-shadow-15 {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-500 {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.f-white {
  color: white;
}

@media (min-width: 768px) {
  .fD-white {
    color: white;
  }
}

.f-gold {
  color: #b3873d;
}

@media (min-width: 768px) {
  .fD-gold {
    color: #b3873d;
  }
}

.roboto {
  font-family: "RobotoCondensed";
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.zin1 {
  z-index: 1;
}

.prevent-select {
  user-select: none;
}

.prevent-pointer {
  pointer-events: none;
}

.fs16 {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .fs16-d {
    font-size: 1.6rem;
  }
}
.fs20 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .fs20-d {
    font-size: 2rem;
  }
}
.fs21 {
  font-size: 2.1rem;
}

@media (min-width: 768px) {
  .fs21-d {
    font-size: 2.1rem;
  }
}
.fs24 {
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .fs24-d {
    font-size: 2.4rem;
  }
}
.fs26 {
  font-size: 2.6rem;
}

@media (min-width: 768px) {
  .fs26-d {
    font-size: 2.6rem;
  }
}
.fs31 {
  font-size: 3.1rem;
}

@media (min-width: 768px) {
  .fs31-d {
    font-size: 3.1rem;
  }
}
.fs36 {
  font-size: 3.6rem;
}

@media (min-width: 768px) {
  .fs36-d {
    font-size: 3.6rem;
  }
}
.fs44 {
  font-size: 4.4rem;
}

@media (min-width: 768px) {
  .fs44-d {
    font-size: 4.4rem;
  }
}
.fs57 {
  font-size: 5.7rem;
}

@media (min-width: 768px) {
  .fs57-d {
    font-size: 5.7rem;
  }
}
.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-blue {
  color: #0000ee;
}

.color-purple {
  color: #8867ba;
}

.color-purple2 {
  color: #a58ccc;
}

.color-gold {
  color: #b3873d;
}

.color-ice {
  color: #e6e6e6;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.intro_image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .intro_image {
    width: 700px;
    height: 500px;
  }
}

.title {
  font-family: "Playfair", serif;
}

@media (min-width: 768px) {
  .title_intro {
    font-size: 5.7rem;
  }
}

@media (min-width: 768px) {
  .title_growth {
    font-size: 5.7rem;
  }
}

@media (min-width: 768px) {
  .title_about--right {
    text-align: right;
  }
}
.subtitle {
  font-family: "Cardo", Georgia, serif;
}

.text {
  font-family: "RobotoCondensed", sans-serif;
}

.section_growth_card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../../assets/images/growth-background.webp) no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 40vh;
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .section_growth_card {
    background-attachment: fixed;
    width: 50%;
    height: 100%;
  }
}

.section_growth_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 28px;
}
@media (min-width: 768px) {
  .section_growth_text {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 30vh;
    width: 100%;
    flex: 45%;
  }
}

.section_plans_title {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .section_plans_title {
    flex-direction: column;
    align-items: center;
  }
}
.section_plans_title .section_plans_title_number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .section_knowMe_card_parent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 15px;
  }
}
.section_knowMe_card_parent .section_knowMe_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section_knowMe_card_parent .section_knowMe_card {
    flex: 30%;
  }
}
.section_knowMe_card_parent .section_knowMe_card .section_knowMe_image {
  height: 250px;
  width: 250px;
}

.section_works_grid_container {
  display: grid;
  max-width: 1000px;
  gap: 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section_works_grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section_works_grid_container .section_works_grid_element {
  max-width: 700px;
  height: 145px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .section_works_grid_container .section_works_grid_element {
    height: 240px;
  }
}
.section_works_grid_container .section_works_grid_element .grid_element_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#grid_element_1 {
  background: url("../../assets/images/grid/1.webp") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 768px) {
  #grid_element_1 {
    grid-row: 1;
    grid-column: 1/3;
  }
}

#grid_element_2 {
  background: url("../../assets/images/grid/2.webp") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 768px) {
  #grid_element_2 {
    grid-row: 1;
    grid-column: 3/4;
  }
}

#grid_element_3 {
  background: url("../../assets/images/grid/3.webp") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 768px) {
  #grid_element_3 {
    grid-row: 2;
    grid-column: 1/2;
  }
}

#grid_element_4 {
  background: url("../../assets/images/grid/4.webp") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 768px) {
  #grid_element_4 {
    grid-row: 2;
    grid-column: 2/4;
  }
}

@media (min-width: 768px) {
  .testimonials_card_wrapper {
    display: flex;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .testimonials_card_wrapper .testimonials_card_text {
    display: flex;
    flex-direction: column;
  }
}

.testimonials--small {
  width: 300px;
  height: 300px;
}

.testimonials--large {
  width: 300px;
  height: 450px;
}

@media (min-width: 768px) {
  .testimonials_carousel_wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
  }
}
.testimonials_carousel_wrapper .testimonials_carousel_item.testimonials_carousel_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 100%;
  padding: 20px;
}

.slick-track.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 790px;
  margin: 0 auto;
}
@media (min-width: 540px) {
  .brands_grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .brands_grid_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.brands_logo_parent {
  display: flex;
  justify-content: center;
}

.brands_logo {
  width: 100%;
  min-width: 100px;
  height: 100%;
  min-height: 100px;
}
@media (min-width: 768px) {
  .brands_logo {
    width: 100%;
    max-width: 190px;
    height: 100%;
    max-height: 190px;
  }
}

.intro_wrapper {
  background: url("../../assets/images/section-intro-bg.webp") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .intro_wrapper {
    background-attachment: fixed;
  }
}
.intro_wrapper .intro_container {
  height: 100%;
  padding: 70px 28px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .intro_wrapper .intro_container {
    padding: 60px 45px;
  }
}
@media (min-width: 768px) {
  .intro_wrapper .intro_container .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .growth_wrapper {
    display: flex;
    height: 100vh;
    min-height: 100vh;
  }
}

.about_wrapper {
  background: url("../../assets/images/about-background.webp") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 40px;
}
@media (min-width: 768px) {
  .about_wrapper {
    background-attachment: fixed;
  }
}
.about_wrapper .about_container {
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about_wrapper .about_container {
    max-width: 1280px;
  }
}
@media (min-width: 768px) {
  .about_wrapper .about_container .about {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    min-height: calc(100vh - 80px);
  }
}

.plans_wrapper {
  min-height: 100vh;
  background-color: #f3f0e0;
}
.plans_wrapper .plans_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .plans_wrapper .plans_container {
    max-width: 1280px;
  }
}
@media (min-width: 768px) {
  .plans_wrapper .plans_container .plans_content_wrapper {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .plans_wrapper .plans_container .plans_content_wrapper .plans_content {
    flex: 25%;
  }
}

.knowMe_wrapper {
  background: url("../../assets/images/know-me-bg.webp") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 40px;
}
@media (min-width: 768px) {
  .knowMe_wrapper {
    background-attachment: fixed;
  }
}
.knowMe_wrapper .knowMe_container {
  background-color: white;
  max-width: 540px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 28px 18px;
}
@media (min-width: 768px) {
  .knowMe_wrapper .knowMe_container {
    max-width: 1000px;
  }
}

.works_wrapper {
  background-color: #f3f0e0;
}
.works_wrapper .works_container {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 28px;
}
@media (min-width: 768px) {
  .works_wrapper .works_container {
    max-width: 1280px;
    padding: 80px;
  }
}

.testimonials_wrapper {
  min-height: 100vh;
}
.testimonials_wrapper .testimonials_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../assets/images/testimonials-bg.webp") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30vh;
  padding: 45px 28px;
}
@media (min-width: 768px) {
  .testimonials_wrapper .testimonials_intro {
    background-attachment: fixed;
    height: 50vh;
  }
}
.testimonials_wrapper .testimonials_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .testimonials_wrapper .testimonials_container {
    display: none;
  }
}
.testimonials_wrapper .testimonials_container_d {
  display: none;
}
@media (min-width: 768px) {
  .testimonials_wrapper .testimonials_container_d {
    display: block;
    min-height: 100vh;
  }
}

.brands_wrapper {
  min-height: 100vh;
  background: url("../../assets/images/brand-bg.webp") no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .brands_wrapper {
    background-attachment: fixed;
  }
}
.brands_wrapper .brands_container {
  background: white;
  max-width: 1020px;
  margin: 0 auto;
  padding: 40px 28px;
}