* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Playfair";
  src: url("../../assets/fonts/PlayfairDisplay/PlayfairRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Playfair";
  src: local("../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Cardo";
  src: url("../../assets/fonts/Cardo/Cardo-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cardo";
  src: url("../../assets/fonts/Cardo/Cardo-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Cardo";
  src: url("../../assets/fonts/Cardo/Cardo-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../../assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../../assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf");
  font-weight: 400;
}
.relative {
  position: relative;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pad-40 {
  padding: 40px;
}

.line23 {
  line-height: 23px;
}

.line26 {
  line-height: 26px;
}

.line30 {
  line-height: 30px;
}

.line38 {
  line-height: 38px;
}

.line43 {
  line-height: 43px;
}

.ls4 {
  letter-spacing: 0.4px;
}

.text-center {
  text-align: center;
}

.text-shadow-15 {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.text-light {
  font-weight: 300;
}

.text-500 {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.roboto {
  font-family: "RobotoCondensed";
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.zin1 {
  z-index: 1;
}

.fs16 {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .fs16-d {
    font-size: 1.6rem;
  }
}
.fs20 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .fs20-d {
    font-size: 2rem;
  }
}
.fs21 {
  font-size: 2.1rem;
}

@media (min-width: 768px) {
  .fs21-d {
    font-size: 2.1rem;
  }
}
.fs24 {
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .fs24-d {
    font-size: 2.4rem;
  }
}
.fs26 {
  font-size: 2.6rem;
}

@media (min-width: 768px) {
  .fs26-d {
    font-size: 2.6rem;
  }
}
.fs31 {
  font-size: 3.1rem;
}

@media (min-width: 768px) {
  .fs31-d {
    font-size: 3.1rem;
  }
}
.fs36 {
  font-size: 3.6rem;
}

@media (min-width: 768px) {
  .fs36-d {
    font-size: 3.6rem;
  }
}
.fs44 {
  font-size: 4.4rem;
}

@media (min-width: 768px) {
  .fs44-d {
    font-size: 4.4rem;
  }
}
.fs57 {
  font-size: 5.7rem;
}

@media (min-width: 768px) {
  .fs57-d {
    font-size: 5.7rem;
  }
}
.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-blue {
  color: #0000ee;
}

.color-purple {
  color: #8867ba;
}

.color-purple2 {
  color: #a58ccc;
}

.color-gold {
  color: #b3873d;
}

.color-ice {
  color: #e6e6e6;
}

.section_intro_image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .section_intro_image {
    width: 700px;
    height: 500px;
  }
}

.title {
  font-family: "Playfair", serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .title_intro {
    font-size: 5.7rem;
  }
}

@media (min-width: 768px) {
  .title_growth {
    font-size: 5.7rem;
  }
}

@media (min-width: 768px) {
  .title_about--right {
    text-align: right;
  }
}
.subtitle {
  font-family: "Cardo", Georgia, serif;
}

.subtitle_plans {
  color: #b3873d;
}

@media (min-width: 768px) {
  .subtitle_plans--center {
    text-align: center;
  }
}

.text {
  font-family: "RobotoCondensed", sans-serif;
}

@media (min-width: 768px) {
  .text_plans--center {
    text-align: center;
  }
}

.section_growth_card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../../assets/images/growth-background.png) no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 40vh;
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .section_growth_card {
    background-attachment: fixed;
    width: 50%;
    height: 100%;
  }
}

.section_growth_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 28px;
}
@media (min-width: 768px) {
  .section_growth_text {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .section_about_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 30vh;
    width: 100%;
    flex: 45%;
  }
}

.section_plans_title {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .section_plans_title {
    flex-direction: column;
    align-items: center;
  }
}
.section_plans_title .section_plans_title_number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  border: 1px solid black;
}

.section_intro_wrapper {
  background: url("../../assets/images/section-intro-bg.jpeg") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .section_intro_wrapper {
    background-attachment: fixed;
  }
}
.section_intro_wrapper .section_intro_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.section_intro_wrapper .section_intro_container {
  padding: 70px 28px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .section_intro_wrapper .section_intro_container {
    padding: 60px 45px;
  }
}
@media (min-width: 768px) {
  .section_intro_wrapper .section_intro_container .section_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .section_growth_wrapper {
    display: flex;
    height: 100vh;
    min-height: 100vh;
  }
}

.section_about_wrapper {
  background: url("../../assets/images/about-background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 40px;
}
.section_about_wrapper .section_about_container {
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section_about_wrapper .section_about_container {
    max-width: 1280px;
  }
}
@media (min-width: 768px) {
  .section_about_wrapper .section_about_container .section_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    min-height: calc(100vh - 80px);
  }
}

.section_plans_wrapper {
  min-height: 100vh;
  background-color: #f3f0e0;
}
.section_plans_wrapper .section_plans_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 540px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section_plans_wrapper .section_plans_container {
    max-width: 1280px;
  }
}
@media (min-width: 768px) {
  .section_plans_wrapper .section_plans_container .section_plans_content_wrapper {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .section_plans_wrapper .section_plans_container .section_plans_content_wrapper .section_plans_content {
    flex: 25%;
  }
}